<h1>SOY EL COMPONENTE</h1>

<app-menu></app-menu>
<app-componente1></app-componente1>
<app-componente2></app-componente2>
<app-componente3></app-componente3>
<app-componente4></app-componente4>
<app-componente5></app-componente5>
<app-componente6></app-componente6>
<app-componente7></app-componente7>
<app-componente8></app-componente8>
<app-componente9></app-componente9>
<app-componente10></app-componente10>
<app-componente11></app-componente11>
<app-componente12></app-componente12>
<app-componente13></app-componente13>
<app-componente14></app-componente14>


<div class="container"></div>

